<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fantastic</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="styles/style.css">
     <!--SCRIPTS  -->
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
     <script src="scripts/app.js" defer ></script>

</head>
<body>
   <h1>500 = </h1>
   <h1>200 = </h1>
   <h1>No Response =</h1>
</body>
</html>